{% extends 'main/index.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Увійти" %}{% endblock %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'users/css/register_form.css' %}">{% endblock %}

{% block content %}
<div class="class-form">
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-success ms-2" type="submit">{% translate "Увійти" %}</button>
    </form>
    <p>{% translate "Забули пароль?" %} <a href="{% url 'password_reset' %}">{% translate "Відновити" %}</a></p>
</div>
{% endblock %}
