{% extends 'main/index.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Скидання пароля" %}{% endblock %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'users/css/register_form.css' %}">{% endblock %}
{% block content %}
<div class="class-form">
<h2>{% translate "Скидання паролю" %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-warning ms-2" type="submit">{% translate "Надіслати лист" %}</button>
    </form>
</div>
{% endblock %}
