{% extends 'main/index.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Зареєструватися" %}{% endblock %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'users/css/register_form.css' %}">{% endblock %}

{% block content %}
<div class="class-form">
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-success ms-2" type="submit">{% translate "Зареєструватися" %}</button>
    </form>
    <a href="{% url 'login' %}" class="btn btn-warning ms-2">{% translate "Увійти" %}</a>
</div>
{% endblock %}
