{% extends 'main/index.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Мої посилання" %}{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'links_app/css/table.css' %}">{% endblock %}

{% block content %}
<div>
    <a href="{% url 'create_link' %}" class="btn btn-success ms-2" >{% translate "Створити посилання" %}</a>
    <table>
        <thead>
            <tr>
                <th class="col-links">{% translate "Посилання" %}</th>
                <th class="col-title">{% translate "Опис" %}</th>
                <th class="col-category">{% translate "Категорія" %}</th>
                <th class="col-date">{% translate "Дата створення" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in links %}
            <tr>
                <td><a href="{{ el.origin_url }}" target="_blank">link/{{ el.link }}/</a></td>
                <td>{{ el.title }}</td>
                <td>{{ el.category }}</td>
                <td>{{ el.created_at }}</td>
                <td><a href="{% url 'detail_link' el.id %}">{% translate "Детальніше" %}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
