{% extends 'main/index.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Головна" %}{% endblock %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'main/css/home.css' %}">{% endblock %}

{% block content %}
    <h2>{% translate "Створюй власний простір корисних ресурсів" %}</h2>
    <h3>{% translate "Твої посилання — тепер під твоїм контролем." %}</h3>
    <p>{% translate "Ласкаво просимо до платформи, де кожне посилання отримує нове життя! Наш сервіс — це не просто інструмент для скорочення URL, це повноцінне середовище для колекціонування та обміну знаннями." %}</p>
    <h3>{% translate "Що ви можете робити у нас:" %}</h3>
    <ul>
        <li><p>{% translate "Персоналізація та скорочення. Перетворюйте довгі, хаотичні адреси на зрозумілі псевдоніми. Замість набору випадкових знаків — назва, яка говорить сама за себе." %}</p>
        </li>
        <li><p>{% translate "Спільний доступ. Ваші посилання не обов’язково мають бути приватними. Робіть їх відкритими для спільноти, щоб ваші знахідки приносили користь іншим." %}</p>
        </li>
        <li><p>{% translate "Дослідження та натхнення. Переглядайте посилання, якими діляться інші користувачі. Знаходьте нові інструменти, статті та ресурси, про які ви раніше не знали." %}</p>
        </li>
        <li><p>{% translate "Бібліотека за категоріями. Взаємодійте з іншими учасниками для створення глобальної бази знань. Групуйте посилання за темами (програмування, дизайн, освіта, хобі), створюючи зручну структуру, де все розкладено по поличках." %}</p>
        </li>
    </ul>
    <p>{% translate "Приєднуйтесь до нашої спільноти, щоб перетворити хаотичний потік інформації на впорядковану бібліотеку корисних ресурсів. Давайте будувати інтернет, де кожне посилання має значення!" %}</p>
{% endblock %}
